*.py[cod]

#Conf. files:
.env

#Spatial files:
*.shp
*.dbf
*.prj
*.shx
*.cpg
*.geojson

#Path
landsat_ndvi

# Except this file
!shp_ext/ANA_EMBRAPA_PivosMatopiba_Mapeados2017.shp
!shp_ext/ANA_EMBRAPA_PivosMatopiba_Mapeados2017.cpg
!shp_ext/ANA_EMBRAPA_PivosMatopiba_Mapeados2017.dbf
!shp_ext/ANA_EMBRAPA_PivosMatopiba_Mapeados2017.prj
!shp_ext/ANA_EMBRAPA_PivosMatopiba_Mapeados2017.shx

