*.py[cod]

#Conf. files:
.env

#Spatial files:
*.shp
*.dbf
*.prj
*.shx
*.cpg
*.geojson

#Path
landsat_ndvi

# Except this files
!shp_ext/ANA_EMBRAPA_PivosMatopiba_Mapeados2017*
!shp_ext/delimitacao*
!shp_ext/wfsrequest.txt

